.navbar {
  position: relative;
  margin: 5px 50px;
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  height: 30px;

  .theme, .bookmarks {
    text-align: center;

    &:hover {
      transition: .9s ease-in-out .0s;
      cursor: pointer;
    }
  }

  .bookmarks-container {
    text-align: center;
    display: none;
    width: 350px;
    height: 70vh;
    box-shadow: 0px 40px 100px 0px rgba(0, 0, 0, 0.377);
    color: black;
    overflow: auto;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    animation: slideLeft 1s forwards;
  }
}

