.section-two {
  text-align: center;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  padding-top: 40px;

  .focus {
    border: none;
    border-bottom: 2px solid;
    background: transparent;
    width: 60vh;
    font-size: 50px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
  }
}