@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
@-webkit-keyframes fade {
  0%, 20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0%, 20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideRight {
  0%, 10% {
    position: absolute;
    top: -550px;
    left: -500px;
    opacity: 0;
  }
  100% {
    position: absolute;
    top: -550px;
    left: -30px;
    opacity: 1;
  }
}

@keyframes slideRight {
  0%, 10% {
    position: absolute;
    top: -550px;
    left: -500px;
    opacity: 0;
  }
  100% {
    position: absolute;
    top: -550px;
    left: -30px;
    opacity: 1;
  }
}

.navbar {
  position: relative;
  margin: 5px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  height: 30px;
}

.navbar .theme, .navbar .bookmarks {
  text-align: center;
}

.navbar .theme:hover, .navbar .bookmarks:hover {
  -webkit-transition: .9s ease-in-out .0s;
  transition: .9s ease-in-out .0s;
  cursor: pointer;
}

.section-one {
  padding-top: 15vh;
}

.section-one .current-time {
  text-align: center;
  font-family: "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 160px;
  font-weight: bold;
}

.section-one .greeting-and-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: 700;
}

.section-one .greeting-and-quote .name {
  border: none;
  border-bottom: 2px solid;
  background: transparent;
  width: 40vh;
  font-size: 60px;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
  color: white;
}

.section-one .greeting-and-quote .name::-webkit-input-placeholder {
  color: white;
  font-size: 20px;
  font-weight: lighter;
}

.section-one .greeting-and-quote .name:-ms-input-placeholder {
  color: white;
  font-size: 20px;
  font-weight: lighter;
}

.section-one .greeting-and-quote .name::-ms-input-placeholder {
  color: white;
  font-size: 20px;
  font-weight: lighter;
}

.section-one .greeting-and-quote .name::placeholder {
  color: white;
  font-size: 20px;
  font-weight: lighter;
}

.section-two {
  text-align: center;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  padding-top: 40px;
}

.section-two .focus {
  border: none;
  border-bottom: 2px solid;
  background: transparent;
  width: 60vh;
  font-size: 50px;
  outline: none;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
}

.section-three {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5vh;
}

.section-three .to-do-container {
  color: black;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.849);
  width: 350px;
  height: 70vh;
  -webkit-box-shadow: 0px 40px 100px 0px rgba(0, 0, 0, 0.377);
          box-shadow: 0px 40px 100px 0px rgba(0, 0, 0, 0.377);
  -webkit-animation: slideRight 1s forwards;
          animation: slideRight 1s forwards;
  display: none;
}

.section-three .to-do-container ul {
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  padding-top: 20px;
  border-top: 2px solid rgba(58, 58, 58, 0.288);
}

.section-three .to-do-container ul .check {
  position: absolute;
  left: 30px;
}

.section-three .to-do-container ul li {
  margin: 15px;
  width: 120px;
}

.section-three .to-do-container ul li:hover {
  cursor: pointer;
}

.section-three .to-do-container input {
  border: none;
  background-color: transparent;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

.section-three .to-do-container .add {
  background-color: #444444;
  color: white;
  border: none;
  height: 30px;
  width: 50px;
  border-radius: 30px;
  outline: none;
}

.section-three .to-do-container .add:hover {
  cursor: pointer;
}

.section-three .to-do-container .close {
  width: 30px;
  border-radius: 50px;
  background-color: #3d3d3d;
  color: white;
  position: absolute;
  right: 40px;
}

.section-three .to-do-container .close:hover {
  cursor: pointer;
}

.section-three .quote {
  font-weight: bold;
  outline: none;
}

.section-three .to-do:hover, .section-three .change-bg:hover, .section-three .quote:hover {
  cursor: pointer;
}

header, div {
  -webkit-animation: fade 1.5s;
          animation: fade 1.5s;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(https://images.unsplash.com/photo-1579706783492-081a217cd55e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  color: white;
}

.dark-mode {
  color: black;
  -webkit-animation: fade 1.5s;
          animation: fade 1.5s;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  body {
    max-width: 100%;
  }
  .greeting-and-quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .to-do-container {
    background-color: white;
  }
}
/*# sourceMappingURL=style.css.map */